<p id="notice"><%= notice %></p>

<p>
  <strong>Fact days:</strong>
  <%= @archive.fact_days %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @archive.goal %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @archive.archived %>
</p>

<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
