<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Opt assessment</th>
      <th>Opt appraisal</th>
      <th>Nom rating</th>
      <th>Exp duration</th>
      <th>Pos deviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.user %></td>
        <td><%= goal.title %></td>
        <td><%= goal.opt_assessment %></td>
        <td><%= goal.opt_appraisal %></td>
        <td><%= goal.nom_rating %></td>
        <td><%= goal.exp_duration %></td>
        <td><%= goal.pos_deviation %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path %>
