<p id="notice"><%= notice %></p>

<h1><%= t('views.goal.goals') %></h1>

  <table style="text-align: center">
    <thead>
    <tr>
      <th><%= t('views.goal.title') %></th>
      <th><%= t('views.goal.opt_assessment') %></th>
      <th><%= t('views.goal.nom_rating') %></th>
      <th><%= t('views.goal.pes_assessment') %></th>
      <th><%= t('views.goal.exp_duration') %></th>
      <th><%= t('views.goal.pos_deviation') %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.title %></td>
        <td><%= goal.opt_assessment %></td>
        <td><%= goal.nom_rating %></td>
        <td><%= goal.pes_assessment %></td>
        <td><%= goal.exp_duration %></td>
        <td><%= goal.pos_deviation %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('views.goal.new_goal'), new_goal_path %>
