<!DOCTYPE html>
<html>
<head>
  <title>Pert</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="navbar navbar-default navbar-static-top">
  <% if user_signed_in? %>
    <li><%= link_to t('app.to_the_start'), goals_path %></li>
    <li><%= link_to 'Профиль', edit_user_registration_path %></li>
    <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to t('app.to_the_start'), root_path %></li>
    <li><%= link_to 'Войти', new_user_session_path %></li>
    <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
  <% end %>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
